<!doctype html>
<html>
  <head>
    <title>Recipes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700">
    <script src="/js/site.js" defer></script>
  </head>
  <body>
    <input class="filter" type="search" placeholder="Search...">
    <main class="wrapper masonry">
      {% for recipe in recipes %}
        <article class="recipe" data-search-string="{{ recipe.searchString }}">
          <h1>{{ recipe.name }}</h1>
          <ol>
            {% for step in recipe.steps %}
              <li>
                {% if step.type == "ingredients" %}
                  <ul>
                    {% for ingredient in step.contents %}
                      <li>
                        <span class="ingredient-amount">
                          {{ ingredient.amount | fractions }}
                        </span>
                        <span class="ingredient-name">
                          {{ ingredient.name }}
                        </span>
                      </li>
                    {% endfor %}
                  </ul>
                {% else %}
                  <p>{{ step.contents }}</p>
                {% endif %}
              </li>
            {% endfor %}
          </ol>
        </article>
      {% endfor %}
    </main>
  </body>
</html>
